<section class="customer-profile">
  <div class="d-flex justify-content-between align-items-center pt-3">
    <h1 class="h3 page-title pb-3">
      <i class="fal fa-fw fa-1x mr-2 fa-address-book"></i>
      <span>UCP (Unified Customer Profile)</span>
    </h1>
  </div>
  <div class="bg-white pt-4 px-3 mb-4 shadows">

    <div class="d-flex justify-content-between align-items-center mb-4 pb-4 border-bottom">
      <h5 class="text-muted">
        <span class="d-block">SULIMAN ALHABIB HOSPITALS MEDICAL GROUB</span>
        <span>مجموعة مستشفيات سليمان الحبيب الطبية</span>
      </h5>
      <img src="assets/ui/images/habib-logo.jpg" alt="">
    </div>


    <div class="row justify-content-center py-5">
      <div class="col-sm-2 text-center">
        <p-chart class="mb-3" type="doughnut" [data]="data" [options]="options"></p-chart>
        <h5 class="mb-1">Data Filled</h5>
        <p>Owner Data is not completed</p>
      </div>
      <div class="col-sm-2 text-center">
        <label class="p-3 circle-success text-success mb-3 "><i class="fal fa-smile fa-lg"></i></label>
        <h5 class="mb-1">Customer Support</h5>
        <p>98 from 100 issues are solved</p>
      </div>
      <div class="col-sm-2 text-center">
        <label class="p-3 circle-success text-success mb-3">Active</label>
        <h5 class="mb-1">Usage Index</h5>
        <p>25 Operation per week</p>
      </div>
      <div class="col-sm-2 text-center">
        <div class="p-3 circle-elm-2 mb-3"><span class="">984</span></div>
        <h5 class="mb-1">NO. Individuals</h5>
        <p>90% Saudis</p>
      </div>
      <div class="col-sm-2 text-center">
        <div class="p-3 circle-elm-2 mb-3"><span>3</span></div>
        <h5 class="mb-1">Subscriptions</h5>
        <p>Muqeem, Tamm, Wasl</p>
      </div>
    </div>
    <div class="row ">
      <p-card class="col-lg-6 px-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2 text-center">
              <div class="container">
                <div class="row text-center">
                  <div class="col-sm-12 text-center mb-2"><i class="fal fa-building text-elm-4 fa-3x"></i></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center font-weight-bold mt-1"><span>Main Data</span></div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">Domain</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">Health Care</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">MOI Number</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">453454656</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted mr-1">Saudis</span><span
                      class="text-dark font-weight-bold">106</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted mr-1">Residents</span><span
                      class="text-dark font-weight-bold">32</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><a href="#">More about the company ></a></div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 px-0 text-center bg-light box-image d-none d-md-flex"><img width="126"
                src="assets/ui/images/health-company.png" alt="Health Care"></div>
          </div>
        </div>
      </p-card>
      <p-card class="col-lg-6 px-0">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-2 text-center">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-sm-12 text-center"><i class="fal fa-file-alt text-elm-4 fa-3x"></i></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-center font-weight-bold mt-1">Commercial</div>
                  </div>
                </div>
              </div>
              <div class="col-8">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">CR No. </span></div>
                    <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">5654646522</span></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 text-left mb-1"><span class="text-muted">CR Start</span></div>
                    <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">2018/08/07</span></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 text-left mb-1"><span class="text-muted">CR End</span></div>
                    <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">2019/08/07</span></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-left mb-1"><a href="#">More about the Commercial License ></a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 text-center bg-success d-none d-md-flex justify-content-between align-self-stretch box-image">
                <label class="text-success m-auto font-weight-bold h5">Active</label></div>
            </div>
          </div>
        </p-card>
    </div>
    <div class="row">
      <p-card class="col-lg-6 px-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2 text-center">
              <div class="container">
                <div class="row text-center">
                  <div class="col-sm-12 text-center"><i class="fal fa-user text-elm-4 fa-3x"></i></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center font-weight-bold mt-1">Owner</div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><span class="text-dark font-weight-bold">Soliman ben Abdulazizi
                      AlHabeeb</span></div>
                  <div class="col-sm-12 text-left mb-1"><span class="text-muted">سليمان بن عبد العزيز الحبيب</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">MOI Number</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">453454656</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><a href="#">More about the Owner ></a></div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 px-0 text-center d-none d-md-flex box-image"><img width="126"
                src="assets/ui/images/owner-placeholder.png" alt="Owner Image"></div>
          </div>
        </div>
      </p-card>
      <p-card class="col-lg-6 px-0">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-2 text-center">
                <div class="container">
                  <div class="row text-center">
                    <div class="col-sm-12 text-center"><i class="fal fa-id-card text-elm-4 fa-3x"></i></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-center font-weight-bold mt-1">Master User</div>
                  </div>
                </div>
              </div>
              <div class="col-8">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 text-left mb-1"><span class="text-dark font-weight-bold">Mohamed Abdulaziz
                        AlKahtani</span></div>
                    <div class="col-sm-12 text-left mb-1"><span class="text-muted">محمد عبد العزيز القحطاني</span></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 text-left mb-1"><span class="text-muted">MOI Number</span></div>
                    <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">453454656</span></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-left mb-1"><a href="#">More about the Master User ></a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 px-0 text-center bg-light box-image d-none d-md-flex align-items-end"><img width="126"
                  src="assets/ui/images/user-placeholder.png" alt="Master User"></div>
            </div>
          </div>
        </p-card>
    </div>
    <div class="row">
        <p-card class="col-lg-6 px-0">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-2 text-center">
                  <div class="container">
                    <div class="row text-center">
                      <div class="col-sm-12 text-center"><i class="fal fa-map text-elm-4 fa-3x"></i></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 text-center font-weight-bold mt-1">Address</div>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12 text-left mb-1"><span class="text-dark font-weight-bold">Last Address
                          Used</span>
                      </div>
                      <div class="col-sm-12 text-left mb-1"><span class="text-muted">Olaya King Fahad Road Riyadh</span>
                      </div>
                      <div class="col-sm-12 text-left mb-1"><span class="text-muted">Building No.45 PO No. 3002</span></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 text-left mb-1"><a href="#">More about the Address ></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 px-0 text-center d-none d-md-flex box-image"><img width="126" src="assets/ui/images/map-placeholder.png"
                    alt="Location Image"></div>
              </div>
            </div>
          </p-card>
      <p-card class="col-lg-6 px-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2 text-center">
              <div class="container">
                <div class="row text-center">
                  <div class="col-sm-12 text-center"><i class="fal fa-credit-card text-elm-4 fa-3x"></i></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center font-weight-bold mt-1">Payment</div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">Last Payment Date</span>
                  </div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">2019/08/07</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">Card Number</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">*********7013</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">Last Opration</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">Muqeem Renewal</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><a href="#">More about Payment Records ></a></div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 px-0 text-center bg-light d-none d-md-block box-image"><img width="126"
                src="assets/ui/images/visa-icon.png" alt="Visa"></div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="row">
      <p-card class="col-lg-6 px-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2 text-center">
              <div class="container">
                <div class="row text-center">
                  <div class="col-sm-12 text-center"><i class="fal fa-box text-elm-4 fa-3x"></i></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center font-weight-bold mt-1">Services</div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><span class="text-dark font-weight-bold">Last Subscription in
                      Muqeem</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">Subscription Type</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">Shamel</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">Subscription Date</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">2019/08/07</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><a href="#">More about Subscribed Services ></a></div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 px-0 text-center bg-light box-image d-none d-md-flex align-items-center"><img width="126"
                src="assets/ui/images/Muqeem-logo.png" alt="Muqeem Product"></div>
          </div>
        </div>
      </p-card>
      <p-card class="col-lg-6 px-0">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2 text-center">
              <div class="container">
                <div class="row text-center">
                  <div class="col-sm-12 text-center "><i class="fal fa-share-alt text-elm-4 fa-3x"></i></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-center font-weight-bold mt-1">Social Media</div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><span class="text-dark font-weight-bold">Most Used Social Media
                      is Twitter</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">No. of followers</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">15454</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-left mb-1"><span class="text-muted">Last post date</span></div>
                  <div class="col-sm-6 text-left mb-1"><span class="text-dark font-weight-bold">2019/08/07</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-12 text-left mb-1"><a href="#">More about Social Media Account ></a></div>
                </div>
              </div>
            </div>
            <div
              class="col-sm-2 text-center bg-twitter d-none d-md-flex align-items-center justify-content-center align-self-stretch box-image">
              <i class="fa fa-twitter fa-3x text-twitter"></i></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

</section>