<div class="d-flex justify-content-between align-items-center pt-3">
  <h1 class="h3 page-title pb-3">
    <i class="fal fa-fw fa-1x mr-2 fa-cube "></i>
    <span>Platform Service</span>
  </h1>
</div> 

<div class="box-list">
  <div class="row">  
      <div class="col-6 col-lg-4 col-xl-3">
          <p-card>
            <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                <i class="fal fa-file-alt fa-fw fa-3x text-dark"></i>
                <span class="h5 mt-3 mb-0 text-dark">  Billing </span>
            </a>  
          </p-card>
      </div>
      <div class="col-6 col-lg-4 col-xl-3">
        <p-card>
          <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
              <i class="fal fa-credit-card fa-fw fa-3x text-dark"></i>
              <span class="h5 mt-3 mb-0 text-dark">  Payment </span>
          </a>  
          </p-card>
      </div>
      <div class="col-6 col-lg-4 col-xl-3">
        <p-card>
          <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
              <i class="fal fa-address-book fa-fw fa-3x text-dark"></i>
              <span class="h5 mt-3 mb-0 text-dark">  UCP </span>
          </a>  
          </p-card>
      </div> 
      <div class="col-6 col-lg-4 col-xl-3">
        <p-card>
        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
            <i class="fal fa-pen fa-fw fa-3x text-dark"></i>
            <span class="h5 mt-3 mb-0 text-dark"> Registration</span>
        </a>  
        </p-card>
      </div>
      <div class="col-6 col-lg-4 col-xl-3">
        <p-card>
          <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
              <i class="fal fa-users fa-fw fa-3x text-dark"></i>
              <span class="h5 mt-3 mb-0 text-dark">  Identity Management </span>
          </a>  
          </p-card>
      </div> 
      <div class="col-6 col-lg-4 col-xl-3">
        <p-card>
          <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
              <i class="fal fa-print fa-fw fa-3x text-dark"></i>
              <span class="h5 mt-3 mb-0 text-dark">  Printing Service </span>
          </a>  
          </p-card>
      </div> 
      <div class="col-6 col-lg-4 col-xl-3">
        <p-card>
          <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
              <i class="fal fa-box-check fa-fw fa-3x text-dark"></i>
              <span class="h5 mt-3 mb-0 text-dark">  Subcecription </span>
          </a>  
          </p-card>
      </div> 
      <div class="col-6 col-lg-4 col-xl-3">
        <p-card>
          <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
              <i class="fal fa-bell fa-fw fa-3x text-dark"></i>
              <span class="h5 mt-3 mb-0 text-dark">  Notifications </span>
          </a>  
          </p-card>
      </div> 
  </div>
</div> 

 