
                        <section>
                            <div class="d-flex justify-content-between align-items-center pt-3">
                                <h1 class="h3 page-title pb-3"> 
                                    <i class="fal fa-fw fa-1x mr-2 fa-cube "></i>
                                    <span>Products</span>    
                                </h1> 
                                <div class="action-side pb-3">
                                    <button class="btn btn-outline-primary "
                                    data-target="#myModal" data-toggle="modal" type="button"><i
                                    class="fal fa-plus mr-2 fa-fw"></i><span>   New Product    </span></button>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end pb-2 flex-md-row">
                             
                                <div class="search-item my-4 my-md-2">
                                    <form action=""> 
                                        <input type="text"  (keyup)="dv.filter($event.target.value)" class="float-right form-control search-control">
                                        <button type="submit" pInputText class="search-button"><i class="fal fa-fw fa-search"></i></button> 
                                    </form>
                                </div>
                            </div> 

                            <div class="empty-area p-5 mb-4 text-center bg-white shadows text-muted">
                                <div><i class="fa fal fa-box-open fa-6x mt-5 mb-3"></i></div>
                                <h4 class="text-muted mb-5">You don't have any products assigned currently</h4>
                            </div>
                            <div class="box-list"> 
                                <p-dataView #dv [value]="products" filterBy="filterKey">                                                                  
                                    <div class="row"> 
                                        <ng-template let-product pTemplate="listItem">
                                            <div class="col-6 col-lg-4 col-xl-3">
                                                <p-card subheader="{{ product?.productCode }}">
                                                    <a routerLink="/productDetails" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4"> 
                                                        <img src="assets/ui/images/Mojaz-Logo.png" alt="mojaz"> 
                                                        <!-- <img src="assets/ui/images/no-image-found.png" alt="no-image-found"> -->
                                                        <span class="d-none"> {{ product?.productNameAR }} </span>
                                                    </a> 
                                                </p-card>
                                            </div>
                                        </ng-template>
                                    </div>
                                </p-dataView> 
                            </div> 
                            <hr>
                        </section>
                        <section>
                            <h1 class="h3 page-title py-1  py-md-3"> 
                                <i class="fal fa-fw fa-1x mr-2 fa-cube "></i>
                                <span>Muqeem (Active Components)</span>    
                            </h1> 
                            <div class="box-list">
                                <div class="row">
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-pen fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark"> Registration</span>
                                        </a>  
                                    </div>
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-file-alt fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark">  Billing </span>
                                        </a>  
                                    </div>
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-credit-card fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark">  Payment </span>
                                        </a>  
                                    </div>
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-address-book fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark">  UCP </span>
                                        </a>  
                                    </div> 
                                </div>
                            </div> 
                            <hr> 
                        </section>
                        <section>
                            <h1 class="h3 page-title py-1  py-md-3"> 
                                <i class="fal fa-fw fa-1x mr-2 fa-cube "></i>
                                <span>Not Active Components</span>    
                            </h1> 
                            <div class="box-list">
                                <div class="row">
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-bell fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark"> Notifications</span>
                                        </a>  
                                    </div> 
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-box-check fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark"> Subscription</span>
                                        </a>  
                                    </div>
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-print fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark"> Printing Services</span>
                                        </a>  
                                    </div>
                                    <div class="col-6 col-lg-4 col-xl-3">
                                        <a href="#d" class="align-items-center  bg-white box-item d-flex flex-column justify-content-center rounded mb-4">
                                            <i class="fal fa-users fa-fw fa-3x text-dark"></i>
                                            <span class="h5 mt-3 mb-0 text-dark"> Identity Management </span>
                                        </a>  
                                    </div> 
                                </div>
                            </div> 
                            <hr>
                        </section> 
                        <section>
                            <h1 class="h3 page-title py-1  py-md-3 tabs-head"> 
                                <a href="javascript:;" class="d-inline-block mr-5 " [ngClass]="{'active-tab': !isActive }" (click)="isActive = !isActive;">
                                    <i class="fal fa-fw fa-1x mr-2 fa-building "></i>
                                    <span>Organizations</span>    
                                </a>
                                <a href="javascript:;" class="d-inline-block mr-5" [ngClass]="{'active-tab': isActive }" (click)="isActive = !isActive;">
                                    <i class="fal fa-fw fa-1x mr-2 fa-user "></i>
                                    <span>Individuals</span>    
                                </a>
                            </h1>  
                            <div class="tab-content">
                                <div class="tab-pane active" [ngClass]="{'active': !isActive }" >
                                    
                                    <div class="table-responsive"> 
                                        <table class="table  table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                <th scope="col">MOI number</th>
                                                <th scope="col">Company Name</th>
                                                <th scope="col">Domain</th>
                                                <th scope="col">CR No</th>
                                                <th scope="col">Registration Date</th>
                                                <th scope="col">Action</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td scope="row">4187878</td>
                                                <td>Suliman Alhabeeb Hospital</td>
                                                <td>Health</td>
                                                <td>2646465</td>
                                                <td>20/12/2019</td>
                                                <td>
                                                    <a href="#s" class="table-action m-2" title="config"><i class="fal fa-fw fa-cog"></i></a>
                                                </td>
                                                </tr>
                                                <tr>
                                                <td scope="row">32342342</td>
                                                <td>Jareer Book Store</td>
                                                <td>Libarary</td>
                                                <td>3242342</td>
                                                <td>30/1/2019</td>
                                                <td>
                                                    <a href="#s" class="table-action m-2 text-info" title="config"><i class="fal fa-fw fa-cog"></i></a>
                                                    <a href="#s" class="table-action m-2 text-primary" title="edit"><i class="fal fa-fw fa-pen"></i></a>
                                                    <a href="#s" class="table-action m-2 text-primary" title="view"><i class="fal fa-fw fa-eye"></i></a>
                                                    <a href="#s" class="table-action m-2 text-danger" title="delete"><i class="fal fa-fw fa-trash-alt"></i></a>
                                                </td>
                                                </tr>
                                                <tr>
                                                <td scope="row">4187878</td>
                                                <td>Suliman Alhabeeb Hospital</td>
                                                <td>Health</td>
                                                <td>2646465</td>
                                                <td>20/12/2019</td>
                                                <td>
                                                    <a href="#s" class="table-action m-2" title="config"><i class="fal fa-fw fa-cog"></i></a>
                                                    
                                                </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" [ngClass]="{'active': isActive }">
                                    <div class="table-responsive"> 
                                        <table class="table  table-bordered bg-white">
                                            <thead>
                                                <tr>
                                                <th scope="col">MOI number</th>
                                                <th scope="col">Company Name</th>
                                                <th scope="col">Domain</th>
                                                <th scope="col">CR No</th>
                                                <th scope="col">Registration Date</th>
                                                <th scope="col">Action</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">4187878</td>
                                                    <td>Suliman Alhabeeb Hospital</td>
                                                    <td>Health</td>
                                                    <td>2646465</td>
                                                    <td>20/12/2019</td>
                                                    <td>
                                                    <a href="#s" class="table-action m-2" title="config"><i
                                                        class="fal fa-fw fa-cog"></i></a>
                                                    </td>
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div> 
                                </div> 
                            </div>  
                        </section>  

<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Add Product  </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body p-0">
               <app-add-product></app-add-product>
          </div> 
        </div>
      </div>
</div>